Makefile
Makefile.in

configure
configure.scan

config.*

autom4te.cache/
autoscan.log

*.o
*.swp
*.swo
*.la
*.lo

.deps
.libs

dwarfsymbols
test

m4

aclocal.m4
ar-lib
compile
install-sh
libtool
ltmain.sh
missing


depcomp

tags

.cproject
.project
.settings/
aminclude.am
stamp-h1
