Makefile
Makefile.in

configure
configure.scan

config.*

autom4te.cache/
autoscan.log

*.o
*.swp
*.swo
*.la
*.lo

.deps
.libs

dwarfsymbols
test
doc/

m4/lt*
m4/libtool.m4

aclocal.m4
ar-lib
compile
install-sh
libtool
ltmain.sh
missing


depcomp

tags

.agignore
.cproject
.project
.settings/
stamp-h1
